In [3]:
#Python program to interchange first and last elements in a list
l=[1, 2, 3]
temp=0
temp=l[0]
l[0]=l[-1]
l[-1]=temp
l

[3, 2, 1]

In [7]:
#Python program to swap two elements in a list (1st and 3rd element)
l = [23, 65, 19, 90]
temp=0
temp=l[0]
l[0]=l[2]
l[2]=temp
l

[19, 65, 23, 90]

In [9]:
#Ways to find length of list
l = [23, 65, 19, 90]
count=0
for i in l:
    count+=1
print(count)

4

In [10]:
#Maximum of two numbers in Python
a=int(input())
b=int(input())
max=0
if (a>b):
    max=a
else:
    max=b
print(max)

 4
 9

9

In [11]:
#Minimum of two numbers in Python
a=int(input())
b=int(input())
min=0
if (a>b):
    min=b
else:
    min=a
print(min)

 6
 8

6

In [14]:
#Check if element exists in list in Python
test_list = [1, 6, 3, 5, 3, 4]
i=int(input())
if i in test_list:
    print("{} is available in list".format(i))
else:
    pass

 11

In [15]:
#Reversing a List in Python
test_list = [1, 6, 3, 5, 3, 4]
print(test_list[::-1])

[4, 3, 5, 3, 6, 1]

In [17]:
#Sum of number digits in List
test_list = [12, 67, 98, 34]
res = list(map(lambda ele: sum(int(sub) for sub in str(ele)), test_list))
res

[3, 13, 17, 7]

In [18]:
#Python program to find smallest number in a list
list2 = [20, 10, 20, 1, 100]
list2.sort()
list2[0]

1

In [21]:
#Find sum and average of List in Python
list1=[4, 5, 1, 2, 9, 7, 10, 8]
sum=0
for i in list1:
    sum+=i
print(sum)
avg=sum/len(list1)
print(avg)

46
5.75

In [22]:
#Python program to find second largest number in a list
l=[70, 11, 20, 4, 100]
l.sort()
l[-2]

70

In [23]:
#clear a list in Python
l=[70, 11, 20, 4, 100]
print(l)
l.clear()
print(l)

[70, 11, 20, 4, 100]
[]

In [27]:
#print even numbers in a list
list1 = [12, 67, 98, 34,99,43,21,88,60,49]
even_nos = [num for num in list1 if num % 2 == 0]
 
even_nos

[12, 98, 34]

In [29]:
# odd printing in a list
list1 = [12, 67, 98, 34,99,43,21,88,60,49]
odd_nos = list(filter(lambda x: (x % 2 != 0), list1))
odd_nos

[67, 99, 43, 21, 49]

In [34]:
#print all even numbers in a range
even_nos = list(filter(lambda x: (x % 2== 0), range(1,11)))
even_nos

[2, 4, 6, 8, 10]

In [35]:
#print all odd numbers in a range
odd_nos = list(filter(lambda x: (x % 2!= 0), range(1,11)))
odd_nos

[1, 3, 5, 7, 9]

In [42]:
#program to count Even and Odd numbers in a List
list1 = [10, 21, 4, 45, 66, 93, 1]
 
even_count, odd_count = 0, 0
i=0
while(i < len(list1)):
    if list1[i]%2==0:
        even_count+=1
    else:
        odd_count+=1
    i+=1
print(even_count)
print(odd_count)

3
4

In [55]:
#Program to print duplicates from a list of integers
from collections import Counter
l1 = [1,2,1,2,3,4,5,1,1,2,5,6,7,8,9,9]
d = Counter(l1)
print(d)
 
new_list = list([item for item in d if item>0])
print(new_list)

Counter({1: 4, 2: 3, 5: 2, 9: 2, 3: 1, 4: 1, 6: 1, 7: 1, 8: 1})
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
#program to print positive numbers in a list
list1 = [-10, -21, -4, 45, -66, 93]
 
# using list comprehension
pos_nos = [num for num in list1 if num >= 0]
 
pos_nos

[45, 93]

In [59]:
#program to print negative numbers in a list
list1 = [-10, -21, -4, 45, -66, 93]
 
# using list comprehension
pos_nos = [num for num in list1 if num < 0]
 
pos_nos

[-10, -21, -4, -66]

In [60]:
#print all positive numbers in a range
pos_nos = [num for num in range(-2,10) if num > 0]
 
pos_nos

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
#print all negative numbers in a range
negetive_nos = [num for num in range(-2,10) if num < 0]
 
negetive_nos

[-2, -1]

In [65]:
#count positive and negative numbers in a list
list1 = [-10, -21, -4, 45, -66, 93]
pos_nos = [num for num in list1 if num >= 0]
print(pos_nos)
negetive_nos = [num for num in list1 if num < 0]
print(negetive_nos)
print(len(pos_nos))
print(len(negetive_nos))

[45, 93]
[-10, -21, -4, -66]
2
4

In [66]:
#remove all even nos from the list
list1 = [11, 5, 17, 18, 23, 50]
for i in list1:
    if i%2==0:
        list1.remove(i)
list1

[11, 5, 17, 23]

In [67]:
# remove empty tuples

def Remove(tuples):
    tuples = [t for t in tuples if t]
    return tuples
 

tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),
          ('krishna', 'akbar', '45'), ('',''),()]
print(Remove(tuples))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]